{% extends "pedopt/layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}

<form id="forms" action="{% url "register" %}" method="POST">

  {% if message %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endif %}

  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputUsername1">Username</label>
    <input type="username" name="username" class="form-control" id="exampleInputUsername1" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputContact1">Contact</label>
    <input type="contact" name="contact" class="form-control" id="exampleInputContact1" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" minlength="8" maxlenght="30" class="form-control" id="exampleInputPassword1" required>
    <small id="emailHelp"  class="form-text text-muted">.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirmation</label>
    <input type="password" name="confirmation" minlength="8" maxlenght="30" class="form-control" id="exampleInputPassword2" required>
  </div>
  <small class="form-text text-muted">Already registered? <a tabindex="-1" style="color: #28a745;" href={% url 'login' %}>login</a></small>
  <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
