{% extends "network/layout.html" %}

{% block title %}
Following
{% endblock %}

{% block body %}


  {% if posts_count %}
    <div class="card text-center" style="border: 0px">
      <div style="margin: 5px;" class="card-title">
        <h4>Following user's posts</h4>
      </div>
    </div>
    

    {% for post in posts %}
      <div class="card border-primary mb-3" style="width: 95vw; margin: 0px auto;">
        <div class="card-body">
          <h4><a class="card-title" href="{% url "get_profile" post.0.user.username %}"><strong>{{ post.0.user.username }}</strong></a></h4>
          <p style="font-size: 20px;" class="card-text">{{ post.0.body }}</p>
          <h5 class="card-subtitle text-muted" style="font-size: 18px;">{{ post.0.posted_at }}</h5>

          <span>
          {% if post.1 %}
          <i id="like" data-id="{{ post.0.id }}"class="fas fa-heart" style="color: red;"></i>
          {% else %}
          <i id="like" data-id="{{ post.0.id }}" class="far fa-heart" style="color: red;"></i>
          {% endif %}
            <span id="likes_{{ post.0.id }}">
              {{ post.0.likes }}          
            </span>
          </span> 

        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning" style="margin: 15px; border-radius: 5px;"> No posts yet</div>
  {% endif %}
{% endblock %}
