{% extends "network/layout.html" %}

{% block body %}
  {% if user.is_authenticated %}
  <form action="{% url 'new_post' %}" class="border rounded border-primary mb-3" style="width: 95vw; margin: 0px auto;padding: 20px 20px 0px 20px;" method="POST">
    {% csrf_token %}
    <h4>New Post</h4>
    <div class="form-group mb-3" style="width: 85vw;">
      <textarea class="form-control" row="3" name="content" placeholder="Share With everyone!"></textarea>
      <button class="btn btn-primary" style="margin-top: 5px;">Add Post</button>
    </div>
  </form>
  {% endif %}


{% for post in posts %}
      <div class="card border-primary mb-3" style="width: 95vw; margin: 0px auto;">
        <div class="card-body">
          <h4><a class="card-title" href="{% url "get_profile" post.0.user.username %}"><strong>{{ post.0.user.username }}</strong></a></h4>
          {% if username == post.0.user.username %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ post.0.id }}">
              Edit
            </button>
          {% endif %}
          <p style="font-size: 20px;" class="card-text">{{ post.0.body }}</p>
          <h5 class="card-subtitle text-muted" style="font-size: 18px;">{{ post.0.posted_at }}</h5>

          <span>
          {% if post.1 %}
          <i id="like" data-id="{{ post.0.id }}"class="fas fa-heart" style="color: red;"></i>
          {% else %}
          <i id="like" data-id="{{ post.0.id }}" class="far fa-heart" style="color: red;"></i>
          {% endif %}
            <span id="likes_{{ post.0.id }}">
              {{ post.0.likes }}          
            </span>
          </span> 

        </div>
      </div>
  {% endfor %}

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label" id="msg" style="color: red;"></label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="edit-button" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
  </div> 



<nav id="pagination" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not prev %} disabled {% endif %}">
      <a class="page-link"  href='?page={{ current_page|add:"-1"}}' tabindex="-1">Previous</a>
    </li>
   <li class="page-item active">
     <a class="page-link" >Page {{current_page }} of {{ range }}<span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item {% if not next %} disabled {% endif %}">
      <a class="page-link" href='?page={{ current_page|add:"+1" }}'>Next</a>
    </li>
  </ul>
</nav>



{% endblock %}
