{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ title }}Listings</h2>

    <ul class="listing">
      {% for item in items %}
      <li>
        <a href='{% url "listing" item.name %}'>
          <img src="{{ item.listing_url }}" alt="image of {{ item.name}}"/>
          <br>
          <h5>Name: {{ item.name }}</h5>
          <h5>Intial bid: {{ item.initial_bid }}</h5>
          <h5>Description: {{ item.description }}</h5>
          <h5>Created at {{ item.created_at }}</h5>
        </a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
