{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.name|capfirst }}
{% endblock %}

{{ highest.bidder }}



{% block body %}
<h1>{{ listing.name|capfirst }}</h1>

{% if listing.active_listing %}

  {% if check_watchlist == 0 %}

    <form action="{% url 'listing'  listing.name %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning" value="Add to watchlist" name="add_watchlist">
    </form>

  {% else %}

      <form action="{% url 'listing' listing.name %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning" value="Remove to watchlist" name="rm_watchlist">
    </form>

    {% endif %}
  {% else %}
  <div class="alert alert-success" >
    Your are viewing a closed listing 
    {% if highest_bidder.0 == request.user.username %}
      You    
     {% else %}
      {{ highest_bidder.0 }} 
    {% endif %}
    have won this bid 
  </div>
{% endif %}


{% if msg != "" %}
<div class="alert alert-danger">
 {{ msg }}
</div>
{% endif %}
<img style="margin: 20px 0px;" height="400" src="{{ listing.listing_url }}" alt="Image of a {{ listing.name  }}">
<h4>Details</h4>
<h6>Description: {{listing.description}}</h6>
<h6>Listed by {{listing.user }}</h6>
<h6>Listed on {{listing.created_at}}</h6>
<h6>Current Bid: ${{ highest_bid }}</h6>

{% if listing.active_listing %}
{% if request.user == listing.user %}

  <form action="{% url 'listing' listing.name %}" method="POST">
    {% csrf_token %}  
    <input type="submit" class="btn btn-danger" name="close_bid" value="Close Auction">
  </form>

{% else %}
  {% if highest_bidder == user.username %}

  <h5>Your bid is the highest ${{ highest_bid }}</h5>
  {% endif %}
  <form class="form-group" action='{% url "listing" listing.name %}' method="POST">
    {% csrf_token %}
    <input type="number" class="form-control" width="100" min="{{ highest_bid|add:"1" }}" placeholder="Bid" name="bid">
    <input type="submit" value="Bid" class="btn btn-primary" name="add_bid">
  </form>

{% endif %}

<hr>
<h3>Comment Section</h3>
<ul>
{% for comment in comments %}
<li>{{ comment.comment }} <b>by {{ comment.comment_user }}</b></li>
{% endfor %}
</ul>
<form class="form-group" action='{% url "listing" listing.name %}' method="POST">
  {% csrf_token %}
  <input type="text" class="form-control" width="100" placeholder="Comment" name="comment">
  <input type="submit" value="Add Comment" class="btn btn-secondary" name="add_comment">
</form>

{% endif %}
{% endblock %}

