{% extends "pedopt/layout.html" %}

{% block body %}

{% if pets %}
<div style="margin: 1%">
<h4>Recently Adopted:</h4>
<hr>
</div>
<div class="row" style="margin: 1%">
{% for pet in pets %}
    <div class="col-sm-12 col-md-3 col-lg-3" style="padding: 8px;">
      <a href="{% url 'pet' pet.id %}" style="text-decoration: none;">
      <div class="card text-center">
        <img src="{{ pet.image.url }}" style="max-height: 400px"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pet.name }}</h5>
          <p class="card-text">{{ pet.city|title }}, {{ pet.state|title }}</p>
        </div>
      </div>
    </a>
    </div>
{% endfor %}
  </div>
</div>
{% else %}
<div class="alert alert-warning">
No results found.
</div>
{% endif %}

{% if p %}
<nav id="pagination" aria-label="..." style="width: 300px;margin: auto;">
  <ul class="pagination">
    <li class="page-item {% if not has_previous %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:'-1' }}">Previous</a>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Page {{ current_page }} of {{ range }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item {% if not has_next %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:'+1' }}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
