{% extends "pedopt/layout.html" %}

{% block title %}
{{ pet.name }}
{% endblock %}


{% block body %}
{% if message %}
<div class="alert alert-warning text-center">
{{ message }}
<br>
The link you followed may be broken, or the page may have been removed. <a href={% url 'index' %}>Go back to Index.</a>
</div>
{% else %}

<div style="margin: 4%;">
<div class="card mb-3" style="border-color: #FFFFFF;">
  <span class="card-title"><h2 style="display: inline;">{{ pet.name }}</h2>
    <img style="float: right;" width="35px" height="35px"  id="wishlist" data-id="{{ pet.id }}"
  {% if wishlist %}
    src="/static/pedopt/wishlist_fill.svg"
    alt="add to wishlist"
  {% else %}
    src="/static/pedopt/wishlist.svg"
    alt="remove from wishlist"
  {% endif %}
    >
  </span>
  <p class="card-text" style="font-size: 2vh;">Hello, I'm looking for a new home...</p>
  <img src="{{ pet.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5>Facts about me</h5>
    <ul style="font-size: 1.8vh;" class="list-group">
      <li class="list-group-item">Pet type: {{ pet.pet_type }}</li>
      <li class="list-group-item">Age: {{ pet.age_group }}</li>
      <li class="list-group-item">Sex: {{ pet.sex }}</li>
    </ul>

  {% if user == pet.owner %}
  <form action="/adopt" method="POST" class="form-inline">
    <input type="hidden" name="id" value="{{ pet.id }}"></input>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary my-1">Did your pet got adopted ?</button>
    {% if message %}
      <div class="alert alert-warning">
      {{ message }}
      </div>
    {% endif %}
  </form> 
  {% endif %}


    <hr>
    <h3>About</h3>
    <p style="font-size: 1.8vh;" class="card-text">{{ pet.about }}</p>
  </div>
</div>

<div class="card-group">
  <div class="card" id="dog_in_kennel" style="padding: 10px;">
    <img src="/static/pedopt/dog-in-kennel.png" class="card-img-top" alt="dog in kennel">
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><img style="height: 20px;" src="/static/pedopt/location.png"><span> Location</span></h5>
      <p class="card-text">{{ pet.city|title }}, {{ pet.state|title }}, {{ pet.zip_code|title }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">&#x1F4DE; Contact</h5>
      <p class="card-text">{{ pet.owner.email }}</p>
      <p class="card-text">{{ pet.owner.contact }}</p>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
