{% extends "pedopt/layout.html" %}


{% block body %}

<div style="margin: 1%">  
<h4>Adopt your Perfect Pet</h4>
<form action="search" id="find_pet" style="padding: 10px;margin: 1%" class="border">
  <div class="form-group">
    <label for="formGroupExampleInput">Location</label>
    <input type="text" class="form-control" name="location" id="formGroupExampleInput" placeholder="Thane, Maharastra" required>
  </div>
  <div class="form-row">
  <div class="form-group col-sm-4 col-lg-4">
    <label for="inputState">Type</label>
    <select id="inputState" name="type" class="form-control" required>
      <option selected>Select</option>
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
      <option value="Other">Other pets</option>
    </select>
   </div>
  <div class="form-group col-sm-4 col-lg-4">
    <label for="inputState">Age</label>
    <select id="inputState" name="age" class="form-control" required>
      <option selected>Select</option>
      <option value="Young">Young</option>
      <option value="Adult">Adult</option>
      <option value="Senior">Senior</option>
    </select>
   </div>
  <div class="form-group col-sm-4 col-lg-4">
    <label for="inputState">Sex</label>
    <select id="inputState" name="sex" class="form-control" required>
      <option selected>Select</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
   </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="message" style="display: none;" class="alert alert-danger">
</div>

{% if title %}
<div>
  <h4>{{ title }}</h4>
  <hr>
</div>
{% endif %}

{% if pets %}
<h4>Recently added</h4>
<hr>
<div class="row" style="margin: 0 1% 1% 1%">
{% for pet in pets %}
    <div class="col-sm-12 col-md-3 col-lg-3" style="padding: 8px;">
      <a href="{% url 'pet' pet.id %}" style="text-decoration: none;">
      <div class="card text-center">
        <img src="{{ pet.image.url }}" style="max-height: 400px"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pet.name }}</h5>
          <p class="card-text">{{ pet.city|title }}, {{ pet.state|title }}</p>
        </div>
      </div>
    </a>
    </div>
{% endfor %}
  </div>
</div>
{% else %}
<div class="alert alert-warning">
No results found.
</div>
{% endif %}

{% if p %}
<nav id="pagination" aria-label="..." style="width: 300px;margin: auto;">
  <ul class="pagination">
    <li class="page-item {% if not has_previous %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:'-1' }}">Previous</a>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Page {{ current_page }} of {{ range }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item {% if not has_next %} disabled {% endif %}">
      <a class="page-link" href="?page={{ current_page|add:'+1' }}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
